<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>预约报名系统</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <script type="text/javascript" src="/static/js/main.js"></script>
</head>
<body>
  <div class="container">
    <div class="image" >
      <img src="/static/src/work.png" alt="img" width="360px">
    </div>
    <div class="ribbon">
        <div class="keyFeatures">
          <div id="makeAnAppointmentToRegister" onclick="window.location.href='/register'">
            <img src="/static/src/application.png" alt="application" width="50px">
            <h4 style="color: white;">报名</h3>
          </div>
          <div id="renewalForOldStudents">
            <img src="/static/src/renewal.png" alt="renewal" width="50px">
            <h4 style="color: white;">续费</h3>
          </div>
          <div id="tutoringAppointments">
            <img src="/static/src/tutoringAppointments.png" alt="辅导预约" width="55px">
            <h4 style="color: white;">辅导预约</h3>
          </div>
        </div>
      <div class="storeNavigation">
        <img src="/static/src/storeNavigation.png" alt="navigation" width="35px">
        <h4 style="color: white;">门店导航</h3>
        
      </div>
    </div>
  </div>
  <div class="Mine"></div>
</body>
</html>